@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
   }

img{
    width: 100%;
    height: 100%;
}
body {
    font-size: 1.6rem;
    background-color:white;
  }
 
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background: black;
}
.navbar .navbar-brand{
    font-size: 40px;
    font-weight: 900;
    color: green !important;
}
#navbarSupportedContent{
    color: #fff;
    border-bottom: 2px solid transparent;
    font-size: 1.2rem;
    
}
.go{
    color: rgb(245, 82, 41);
}

.s1{
    color: red;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid green;
}
#search{
    border-radius: 50px;
}
#para{
    position: absolute;
}
#hero1{
    background-image: url(./japan-2014618_1280.jpg);

}
.main h1{
    font-size: 3rem;
}
span{
    color: rgb(243, 178, 14);
}
.btns{
    margin-left: 100px;
}
#cart i{
    color: #fff;
}
.text-center:hover{
    transform: scale(1);
    z-index: 3;

}

footer {
    background-color: black;
  }
